/* styles.css */
.navbar {
  min-height: 80px; /* Adjust this value to increase the height */
  padding: 10px 50px; /* Adjust padding as needed */
}

.navbar-brand {
  font-size: 3rem; /* Adjust font size of the brand */
  padding: 0 20px; /* Adjust padding as needed */
}

.navbar-nav .nav-link {
  padding: 0 20px; /* Adjust padding as needed */
  font-size: 2.5rem; /* Adjust font size of the links */
}

.navbar-nav .nav-item {
  border-right: 3px solid #ee3741;
}

/* Remove border from the last item to avoid extra separator */
.navbar-nav .nav-item:last-child {
  border-right: none;
}

.hero {
  height: 100vh;
  background-image: url("img/testing.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 60px;
  color: white;
}

.scroll-down {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down a {
  color: #fff;
  font-size: 24px;
}
