body {
    font-family: Arial, Helvetica, sans-serif;    
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: rgb(181, 218, 220);
    border-style: groove;
    text-align: center;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(15, 14, 58);
}

#listItem{
    float: left;
}

a {
    text-decoration: none;
    display: block;
    padding: 8px;
    background-color: #dddddd;
}
  
a:link {
  color: red;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
  /* visited link */
a:visited {
    color: red  ;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
  /* mouse over link */
a:hover {
    color: rgb(255, 0, 230);
    text-decoration: none;
}
article {
    text-align: center;
    border-style : groove;
    }
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 50%;
}
aside{
    float : right;
    width : 20%;
    border-style : groove;
}

footer {
    flex: 0 0 50px;
    margin-top: auto;
    background-color: rgb(7, 36, 82);
    color: white;
    text-align: center;
}


#job1{
    border-style: groove;
    width: 49%;
    float: left;
}

#job2{
    border-style: groove;
    width: 49%;
    float: right;
}




table, th, td{
    border: 1px solid;
    margin-left: auto;
    margin-right: auto;
}
